<h2>My Heroes</h2>
<div>
  <ul class="heroes flex justify-content-center flex-wrap gap-5">
    <li *ngFor="let hero of heroes">
      <a routerLink="/detail/{{hero.id}}">
        <button pButton type="button" class="button p-button-lg gap-2">
          <span>{{hero.id}}</span> 
          <p>{{hero.name}}</p>
        </button>
      </a>
      <span (click)="delete(hero)" class="btn-delete">x</span>
    </li>
  </ul>
</div>

<div class="flex justify-content-center mt-6 gap-2">
  <span class="p-float-label">
    <input id="new-hero" #heroName pInputText/>
    <label for="new-hero">Hero Name</label> 
  </span>
  <button type="button" class="p-button-secondary" (click)="add(heroName.value); heroName.value=''" pButton>
    Add hero
  </button>
</div>